<h1 class="latest-jobs">Latest Jobs</h1>
<small><%= Job.count %> active job listings.</small>

<div class="row">
  <div class="col-md-9">
    <!-- <ul class="list-group"> -->

      <% @jobs.each do |job| %>
      <div class="row job-listing">


      <div class="col-md-7">
      <!-- <li class="list-group-flush"> -->
        <p class="job-title"><strong><%= link_to job.title, job %></strong></p>
        <p><small><%= job.user.username %></small></p>
        <p><small><%= job.body.first(70) + "..." %></small></p>

      </div>

      <div class="col-md-3 job-index-location">
        <%= job.location %>
      </div>
      <div class="col-md-2 job-index-created">
        <%= job.created_at.strftime("%B %d %Y") %>
      </div>
    <!-- </li> -->

  </div>

<% end %>
<!-- </ul> -->
</div>
<% if user_is_employer %>
  <div class="col-md-3">
    <%= link_to "Post A New Job", new_job_path, class: 'btn btn-info btn-block' %>
  </div>
  <% elsif user_is_standard %>
  <div class="col-md-3">
    <p>Saved Jobs:</p>
    <%= render partial: 'favorites/show', locals: { job: @job } %>
  </div>
  <% else %>
  <div class="col-md-3">
    Looking for a new job? Sign up for a new account today!
    <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-info btn-block' %>
  </div>
<% end %>



<!-- <% @jobs.each do |job| %>
    <div class="col-sm-5">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><%= link_to job.title, job %></h5>
          <p class="card-subtitle mb-2 text-muted"><small>Natural Doctors of Portland, OR</small></p>
          <p class="card-text"><small><%= job.body.first(70) + "..." %></small></p>

          <a href="#" class="btn btn-info">Read More</a>
        </div>
      </div>
    </div>
  <% end %> -->









</div>
