<%= content_tag :div, class: 'media', id: "candidate-#{candidate.id}" do %>
  <div class="media">
    <div class="media-body">

        <h6><%= link_to candidate.user.username, candidate.user %></h6>
      <p><small>applied <%= time_ago_in_words(candidate.created_at) %> ago.</small></p>

      <% if candidate.user.resume.file? %>
        <p><%= link_to "Download Resume", candidate.user.resume.url, class: 'btn btn-sm btn-success' %></p>
      <% else %>
        <small>No resume on file.</p></small>
      <% end %>

      <p><%= candidate.body %></p>

    </div>
  </div>
<% end %>
