<!DOCTYPE html>
<html>
  <head>
    <title>JobsBoard</title>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <%= tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY %> -->



    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="container">

      <nav class="navbar navbar-expand-lg navbar-dark bg-info rounded">
        <ul class="navbar-nav mr-auto">
          <li class="active brand-name"><%= link_to "EMPLOY", root_path, class: 'nav-link' %></li>
          <li class="nav-item"><%= link_to "All Jobs", root_path, class: 'nav-link' %></li>
          <% if user_is_employer %>
            <li class="nav-item"><%= link_to "Post A Job", new_job_path, class: 'nav-link' %></li>
          <% end %>
        </ul>
        <ul class="navbar-nav ml-auto">
          <% if user_signed_in? %>
            <li class="nav-link active">Signed in as: <strong><%= current_user.username %></strong></li>
            <li class="nav-item"><%= link_to "My Profile", current_user, :class => 'nav-link'  %></li>
            <li class="nav-item"><%= link_to "Edit Account", edit_user_registration_path(@user), :class => 'nav-link'  %></li>
            <li class="nav-item"><%= link_to "Sign Out", destroy_user_session_path, method: :delete, :class => 'nav-link'  %></li>
          <% else %>
            <li class="nav-item"><%= link_to "Sign Up", new_user_registration_path, class: 'nav-link' %></li>
            <li class="nav-item"><%= link_to "Sign In", new_user_session_path, class: 'nav-link' %></li>
          <% end %>
      </ul>
    </nav>


      <% if flash[:notice] %>
        <div class="alert alert-success">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash[:notice] %>
        </div>
      <% elsif flash[:alert] %>
        <div class="alert alert-warning">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash[:alert] %>
    </div>

      <% end %>

    <%= yield %>


    </div>
  </body>
</html>
